body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f1f1f1;
    background-image: url(https://i.pinimg.com/564x/78/40/2b/78402b85f1a204d2e9faa9584571904d.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.logo{
    height: 60px;
    width: 60px;
    float: left;
    border-radius: 20px;
    
  }
  .container{
    max-width: 700px; /* or any other fixed width */
    margin: 0 auto; /* center the container horizontally */
    display: flex;
    background-color: hsl(0, 2%, 19%);
    height: 600px;
    margin-top: 120px;
    opacity: 0.9;
    border-radius: 15px;
    color: aliceblue;

}

h1 {
    margin-bottom: 50px;
    margin-left: 50px;
}


li {
    margin-bottom: 30px;
}
  form {
    margin-bottom: 20px;
    margin-top: 100px;
    margin-left: 110px;
    border: #596e5a;
}

input[type="text"],
input[type="number"] {
    padding: 5px;
    width: 200px;
    margin: 10px;
    margin-left: 10px;
}

button[type="submit"] {
    background-color: hsl(124, 7%, 59%);
    color: white;
    border: none;
    cursor: pointer;
    width: 120px;
    height: 30px;
    border-radius: 10px;
}

button[type="submit"] {
    background-color: hsl(120, 6%, 3%);
    margin-top: 50px;
}
#Description{
    width: 450px;
    height: 150px;
   text-align: start;
   margin-left: 7px;
 
    
}
.navbar{
    background-color: #090909;
    width: 1600px;
    position: relative;
    position: fixed;
    margin-left: -20px;
    

  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    
  }
  
  nav li {
    float: left;
  }
  
  nav a {
    display: block;
    color: #08b13d;
    text-decoration: none;
    padding: 10px 20px;
  }
