.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f1f1f1;
    /* background-image: url(https://i.pinimg.com/564x/b9/2f/98/b92f988fc97b572d769f63ee2a0dc45e.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo {
    height: 60px;
    width: 60px;
    float: left;
    border-radius: 20px;
}

.catalog {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.product-grid {
    display: flex; /* Changed to grid layout */
    grid-template-columns: repeat(3, 1fr); /* 3 columns per row */
    grid-gap: 500px;
    height: 500px;
}

.product-list {
    text-align: center;
    height: 500px; /* You may want to adjust this */
    margin-bottom: 200px;
}

.product img {
    width: 100%;
    max-height: 700px;
    object-fit: cover;
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: 60px;
    margin-top: 50px;
}

.product h3 {
    margin-top: 10px;
    color: black;
}

.product p {
    font-weight: bold;
    color: black;
}
button{
    background-color: black;
    width: 150px;
    height: 40px;
    color: hsl(0, 22%, 96%);
    border-radius: 10px;
  }
  