body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f1f1f1;
    /* background-image: url(https://i.pinimg.com/564x/b9/2f/98/b92f988fc97b572d769f63ee2a0dc45e.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.logo{
    height: 60px;
    width: 60px;
    float: left;
    border-radius: 20px;
    
  }
  .catalog {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
  .product {
    text-align: center;
  }
  
  .product img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
  
  .product h3 {
    margin-top: 10px;
  }
  
  .product p {
    font-weight: bold;
  }  
  