body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f1f1f1;
    background-image: url(https://i.pinimg.com/564x/b9/2f/98/b92f988fc97b572d769f63ee2a0dc45e.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 400px;
    height: 250px;
    margin: 0 auto;
    background-color: hsl(0, 3%, 76%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 200px;
}

h2 {
    text-align: center;
}

form input {
    display: block;
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    display: block;
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: hsl(0, 0%, 2%);
    color: #fff;
    cursor: pointer;
    margin-left: 40px;
}