body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f1f1f1;
    background-image: url(https://i.pinimg.com/564x/78/40/2b/78402b85f1a204d2e9faa9584571904d.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container {
    width: 400px;
    height: 800px;
    margin: 100px auto;
    perspective: 1000px;
    float: left; /* Added float property */
    background-color: transparent;
    margin-top: 200px;
    
}
.navbar{
    background-color: #090909;
    width: 1600px;
    position: relative;
    position: fixed;
    margin-left: -20px;
    

  }
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    
  }
  
  nav li {
    float: left;
  }
  
  nav a {
    display: block;
    color: #08b13d;
    text-decoration: none;
    padding: 10px 20px;
  }
  .logo{
    height: 60px;
    width: 60px;
    float: left;
    border-radius: 20px;
    
  }
  .container {
    width: 400px;
    height: 700px;
    margin: 100px auto;
    perspective: 1000px;
    float: left; /* Added float property */
    background-color: transparent;
    margin-top: 150px;
    margin-left: 850px;
    
}
.card {
    width: 100%;
    height: 500px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}
.card.flipped {
    transform: rotateY(180deg);
}
.front{
    width: 100%;
    height: 150%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(88, 88, 85);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
    margin-top: 10px;
}
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(88, 88, 85);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
    margin-top: 10px;
}
.back {
    transform: rotateY(180deg);
}
.form {
    width: 80%;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid hsl(0, 0%, 4%);
    border-radius: 5px;
}
.form-group input[type="submit"] {
    background-color: hsl(0, 0%, 4%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


